@media not all and (min-width: 1000px){
	.listaCursos{
		display: none;
	}
}

.listaCursos {
    color: #9898a6;
    border-top: 1px solid #EBEBEE;
}
	.listaCursos a {
		color: inherit;
		text-decoration: none;
	}

.listaCursos .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    height: 600px;
    margin-top: 50px;
}

.listaCursos-categoria{
	width: 30%;
	line-height: 30px;
	margin-bottom: 20px;
}

.listaCursos-categoria-nome{
	font-size: 1em;
}

.listaCursos-categoria-list{
	font-size: 0.9em;
	list-style: none;
}