.buttonLight {
	background: transparent;
	border: 2px solid currentColor;
	color: #4dba7a;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 5px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	padding: .5rem 1.2rem;
	transition: color 300ms, background-color 300ms;
	cursor: pointer;
}
	@media (min-width: 1000px) {
		.buttonLight {
			padding: 15px 60px;
		}
	}

.buttonLight:hover {
	background-color: #4dba7a;
	color: #FFF;
}

.buttonForm {
	border: none;
	background: #fff;
	color: #9898a6;
	font-size: 0.8125em;
	font-weight: bold;
	text-align: center;
	border: 2px solid #9898a6;
	height: 100%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	vertical-align: middle;
	cursor: pointer;
	transition: color .5s, background-color .5s;
	border-left: none;
}

.buttonForm:hover {
	background-color: #9898a6;
	color: #FFF;
}
	